<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name= "All">
    <test name= "Vercel">
        <classes>
            <class name="com.loop.test.vercel.Home" />
            <class name="com.loop.test.vercel.NoABTest" />
            <class name="com.loop.test.vercel.AddRemoveElements" />
            <class name="com.loop.test.vercel.Autocomplete" />
            <class name="com.loop.test.vercel.BasicAuth" />
            <class name="com.loop.test.vercel.BrokenImages" />
            <class name="com.loop.test.vercel.ChallengingDOM" />
            <class name="com.loop.test.vercel.Checkboxes" />
            <class name="com.loop.test.vercel.ContextMenu" />
            <class name="com.loop.test.vercel.DisappearingElements" />
            <class name="com.loop.test.vercel.DragAndDrop" />
            <class name="com.loop.test.vercel.DragAndDropCircles" />
            <class name="com.loop.test.vercel.Dropdown" />
            <class name="com.loop.test.vercel.DynamicContent" />
            <class name="com.loop.test.vercel.ForgotPassword" />
        </classes>

    </test>
</suite>
