<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name= "All">
    <test name= "Vercel">
        <classes>
            <class name="app.vercel.test.pages.Home" />
            <class name="app.vercel.test.pages.NoABTest" />
            <class name="app.vercel.test.pages.AddRemoveElements" />
            <class name="app.vercel.test.pages.Autocomplete" />
            <class name="app.vercel.test.pages.BasicAuth" />
            <class name="app.vercel.test.pages.BrokenImages" />
            <class name="app.vercel.test.pages.ChallengingDOM" />
            <class name="app.vercel.test.pages.Checkboxes" />
            <class name="app.vercel.test.pages.ContextMenu" />
            <class name="app.vercel.test.pages.DisappearingElements" />
            <class name="app.vercel.test.pages.DragAndDrop" />
            <class name="app.vercel.test.pages.DragAndDropCircles" />
            <class name="app.vercel.test.pages.Dropdown" />
            <class name="app.vercel.test.pages.DynamicContent" />
            <class name="app.vercel.test.pages.ForgotPassword" />
        </classes>

    </test>
</suite>
